﻿@model IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Do you like this Application?</h1>
    </div>
    <div class="col-md-6">
        <h2>Yes!</h2>
        <h3>Total votes</h3>
        <h3>@Model.ForVotes</h3>
        <a asp-area="" asp-controller="Home" asp-action="VoteFor" class="btn btn-success">Vote</a>
    </div>    
    <div class="col-md-6">
        <h2>No!</h2>
        <h3>Total votes</h3>
        <h3>@Model.AgainstVotes</h3>
        <a asp-area="" asp-controller="Home" asp-action="VoteAgainst" class="btn btn-danger">Vote</a>
    </div>
</div>